#site-navbar.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#site-navbar", aria-expanded="false")
                span.sr-only Toggle Navigation
                - for(var i = 0; i < 3; i++)
                    span.icon-bar
            a#site-brand.navbar-brand(href="/") 
                img(src="img/logo_50x50.png", title="RU Hacks")
                h3 RU Hacks
        #site-nav.collapse.navbar-collapse
            ul#site-nav-links.nav.navbar-nav.navbar-right
                block nav