block vars
#ru-navbar.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(ng-click=ctrl+".toggleNav()")
                span.sr-only Toggle Navigation
                - for(var i = 0; i < 3; i++)
                    span.icon-bar
            a#ru-brand.navbar-brand(href="/") 
                img(src="img/logo_50x50.png", title="RU Hacks")
                #ru-brand-title RU Hacks
        #ru-nav.collapse.navbar-collapse(ng-class="{in: "+ctrl+".showNav}")
            ul#ru-navbar-links.nav.navbar-nav.navbar-right
                block nav