doctype html
html#top(lang="en", data-framework="angularjs")
    head
        include partials/site_info.pug

        title RU Hacks | Ryerson University

        include partials/includes.pug
    body#landing(ng-app="app", ng-controller="landingCtrl as landing", ng-view="")