doctype html
html#top(lang="en", data-framework="angularjs")
    head
        include partials/site_info.pug

        title RU Hacks | Ryerson University
    body(ng-app="app")
        include partials/visitor_notify.pug
        // ==================== Content ==================== 
        #landing-container(ng-controller="mainCtrl as home")
            // ==================== Cover ==================== 
            #landing
                #sun.landing-layer
                #moon.landing-layer
                //-#snow.landing-layer
                #tower.landing-layer
                #lights.landing-layer
                #top.landing-layer
                #mid.landing-layer
                #bot.landing-layer
                #splash-container.landing-layer
                    #splash(ng-init="home.init()")
                        #splash-logo
                        #splash-loc-date
                            |Ryerson University
                            .divider
                            |Spring 2017
                        #splash-call-to-action
                            .ru-btn(ng-click="showModal={display: 'flex'}") 2017 Mailing List
                            a.ru-btn-link(href="https://www.facebook.com/ryehacks/")
                                .ru-btn News
                        //
                        //applicant
                        //sponsor
                        //mentor
                        #splash-contact
                            |Contact us at 
                            .divider
                            a(href="mailto:helloworld@ruhacks.com") helloworld@ruhacks.com
                #modal.landing-layer(ng-style="showModal")
                    #modal-container
                        span#modal-close(ng-click="showModal={}") X
                        form#subscribe(name="mailingList")
                            #subscribe-msg Be the first to hear<br>about RU Hacks 2017!
                            span#subscribe-result(ng-show="home.result.show", ng-class="home.result.class") 
                                |{{ home.result.text }}
                            .ru-form-group-vertical
                                label#subscribe-email-lbl.ru-control-label(for="mailingListEmail") Email
                                input#subscribe-email.ru-form-control(type="email", name="mailingListEmail", placeholder="example@domain.com", ng-model="home.email")
                            button.ru-btn(ng-click="home.subscribe()") Subscribe
            // ==================== About ==================== 
            #about.ru-content-white
                .ru-row
                    .ru-section.ru-section-default
                        .ru-section-header What is RUHacks?
                        .ru-section-content.
                            RU Hacks is a unique hackathon at Ryerson University, located at the heart of downtown Toronto. This year will be the first ever RU Hacks and we hope you will be here to join us for 36 hours of creativity.
            // ==================== Why Attend ==================== 
            #attend.ru-content-blue
                .ru-row
                    .ru-section.ru-section-inverted
                        .ru-section-header Why Attend?
                        .ru-section-content.
                            Be a part of something special - join 400 other passionate individuals and let your creativity run wild. This event is a great opportunity to showcase your talents and ideas, whether you are a developer, a designer, or a creator with a skillset not listed here. This event is also an opportunity to learn new skills as mentors will be present, and there will be plenty of workshops to help you get your ideas off the ground.
            // ==================== Schedule ==================== 
            #schedule.ru-content-white
                .ru-row
                    .ru-section.ru-section-default
                        .ru-section-header Schedule
                        .ru-section-content.
                            Schedule to be announced March 1st.
            // ==================== Location ==================== 
            #location.ru-content-blue
                .ru-row
                    .ru-section.ru-section-inverted
                        .ru-section-header Location
                        .ru-section-row.ru-section-row-wrap
                            .ru-section-content-media.ru-section-content-media-inline
                                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11546.178518710383!2d-79.3772168!3d43.6576417!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfec6b680ae45e7b0!2sGeorge+Vari+Engineering+and+Computing+Centre!5e0!3m2!1sen!2sus!4v1483767485746", style="border: none; height: 75vh; width: 75vw;")
                            .ru-section-content.ru-section-content-inline
                                .ru-section-subheader Where is RU Hacks?
                                .ru-section-content.
                                    RU Hacks will held at George Vari Engineering and Computing Centre at Ryerson University. It is located at the corner of Gould St. and Church St.

            // ==================== Sponsors ==================== 
            #sponsors.ru-content-white
                .ru-row
                    .ru-section.ru-section-default
                        .ru-section-header Sponsors &amp; Partners
                        .ru-section-content
                            |For sponsorship inquiries, send an email to 
                            a(href="mailto:sponsors@ruhacks.com") sponsors@ruhacks.com
                            |.
                    .ru-section-row
                            .ru-section-content-col
                                a(href="http://ress.ca")
                                    img.ru-partner(src="img/sponsors-partners/ress_200x200.png")
            // ==================== FAQ ==================== 
            #faq.ru-content-blue
                .ru-row
                    .ru-section.ru-section-inverted.ru-section-fullwidth
                        .ru-section-header FAQ
                        .ru-section-row.ru-section-row-grid
                            .ru-section-content-col-3
                                .ru-section-subheader Who can attend?
                                .ru-section-content.
                                    If you are a student enrolled in any undergraduate or graduate program and are 18 or older, you are eligible to apply and attend RU Hacks.
                            .ru-section-content-col-3
                                .ru-section-subheader What should I bring?
                                .ru-section-content.
                                    Make sure to bring your Student ID for entrance, Government-issued ID to borrow hardware, your Laptop and charger for hacking, as well as clothes/blankets.
                            .ru-section-content-col-3
                                .ru-section-subheader How much does it cost to attend RU Hacks?
                                .ru-section-content.
                                    Admission to RU Hacks is completely free! We’ll be providing all the food, accommodation and swag for the entire weekend.
                            .ru-section-content-col-3
                                .ru-section-subheader How will I get to RU Hacks?
                                .ru-section-content.
                                    We will be sending a number of buses to schools within driving distance of Ryerson University. If we don’t have a bus going to your school or you are a student who needs to fly to RU Hacks, we will do our best to subsidize as much of your travel costs as possible. More details on this will be released once acceptances start rolling out!
                            .ru-section-content-col-3
                                .ru-section-subheader What if I’ve never attended a hackathon before?
                                .ru-section-content.
                                    No worries. Prior coding or technical experience is not a requirement at all. RU Hacks is a fun learning experience. We’ll be having tons of beginner workshops, talks and as well as mentors to help you with your projects. Our goal is for you to leave RU Hacks having learned something.
                            .ru-section-content-col-3
                                .ru-section-subheader Can I start working on my hack before the event?
                                .ru-section-content.
                                    No.  We do not allow participants to work on pre-existing projects. All projects must be worked on from scratch. You'll have enough time to make something you can be proud of. However, you are welcome to familiarize yourself with specific tools and technologies beforehand!
                            .ru-section-content-col-3
                                .ru-section-subheader What about Hardware Hacks?
                                .ru-section-content.
                                    We welcome any and all hardware hacks! If you have specific hardware you intend to work with, feel free to bring them. A full list of hardware we plan to provide will be released closer to the event.
                            .ru-section-content-col-3
                                .ru-section-subheader How does judging work?
                                .ru-section-content.
                                    Our panel of judges consists of some of the biggest names in tech. These experts will eagerly be viewing your projects based on usefulness, design, difficulty and creativity. The top 10 projects will get a chance to demo their hacks in front of all of RU Hacks during the closing ceremony.
                            .ru-section-content-col-3
                                .ru-section-subheader I still have more questions!
                                .ru-section-content Reach out to us at 
                                    a(href="mailto:helloworld@ruhacks.com") helloworld@ruhacks.com

        // ==================== Footer ==================== 
        #ru-footer.ru-content-blue
            .ru-row
                .text-center
                    small.ru-section-inverted &copy; 2016 RU Hacks. All Rights Reserved

        // ==================== Includes ==================== 
        include partials/includes.pug

        block scripts