doctype html
html#top(lang="en", data-framework="angularjs")
    head
        include partials/site_info.pug

        title RU Hacks | Ryerson University
    body(ng-app="app")
        // ==================== Header ==================== 
        include partials/header_home.pug

        #ru-container(ng-view="")

        // ==================== Footer ==================== 
        include partials/layout/footer.pug

        // ==================== Includes ==================== 
        include partials/includes.pug