html(lang="en")
    head
        include partials/site_info.pug

        title RU Hacks | Ryerson University

        include partials/base_style.pug
    body#landing
        #splash
            img#splash-img(src="img/logo_150x150.png", title="RU Hacks Logo")
            #splash-title RU Hacks
            #splash-loc-date
                |Ryerson University
                #divider
                |Winter 2017
            #splash-call-to-action
                a(href="/")
                    button.btn.btn-default 2017 Mailing List
                a(href="/")
                    button.btn.btn-default News
            #splash-contact
                |Contact us at 
                a(href="mailto:helloworld@ruhacks.io") helloworld@ruhacks.io
            script(src="js/scripts/landing.js")