html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        base(href="/")

        title RU Hacks

        link(rel="icon", type="image/png", href="img/logo_50x50.png")

        //Bootstrap
        link(rel="stylesheet", type="text/css", href="libs/bootstrap/dist/css/bootstrap.min.css")

        //App Stylesheets
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Ubuntu:400,700")
        link(rel="stylesheet", type="text/css", href="css/reset.css")
        link(rel="stylesheet", type="text/css", href="css/landing.css")
    body#landing
        #splash
            img#splash-img(src="img/logo_150x150.png", title="RU Hacks Logo")
            #splash-title RU Hacks
            #splash-loc-date Ryerson University | Winter 2017
            #splash-call-to-action
                a(href="/")
                    button.btn.btn-default 2017 Mailing List
                a(href="/")
                    button.btn.btn-default News
            #splash-contact
                |Talk to us at 
                a(href="mailto:hello@ruhacks.io") hello@ruhacks.io