mixin ruHeader(ctrl, alias)
    .ru-navbar.ru-navbar-fixed-top(ng-controller=ctrl)
        .ru-navbar-header
            input.ru-nav-toggle-switch(ng-click=alias+".toggleNav()", type="checkbox", name="ru-nav")
            label.ru-nav-toggle-label(for="ru-nav") Toggle Navigation
            span.ru-nav-toggle
                - for(var i = 0; i < 3; i++)
                    span.icon-bar
            a.ru-brand(href="/") 
                img(src="img/logo_50x50.png", title="RU Hacks")
                .ru-brand-title RU Hacks
        .ru-nav.ru-nav-responsive(ng-class="{ru-nav-collapsed: "+alias+".showNav}")
            ul#ru-navbar-links
                block

doctype html
html#top(lang="en", data-framework="angularjs")
    head
        include partials/site_info.pug
        block styles
        block vars

        title RU Hacks | Ryerson University
    body(ng-app="app")
        include partials/visitor_notify.pug
        if header && headerCtrl && headerCtrlAlias
            // ==================== Header ==================== 
            +ruHeader(headerCtrl, headerCtrlAlias)
                block ruNav

        // ==================== Content ==================== 
        //-#ru-container(ng-view="")
        if ctrl
            #ru-container(ng-controller=ctrl)
                block ruController
        else
            #ru-container
                block ruContainer

        // ==================== Footer ==================== 
        #ru-footer.ru-content-blue.container-fluid
            .row
                .col-md-4.col-md-push-4.text-center
                    small.ru-section-inverted &copy; 2016 RU Hacks. All Rights Reserved

        // ==================== Includes ==================== 
        include partials/includes.pug

        block scripts