.content-bg-blue.container-fluid
    .row
        .col-md-10.col-md-push-1.section.section-inverted
            .section-header About
            .section-content.
                RU Hacks is the Ryerson University's annual hackathon.
            .section-content
                div(style="color: #ffdc00") REPLACE CONTENT - TAKEN FROM UOFT Hacks
                | /ˈhakəθɒn/: An event, typically lasting several days, in which a large number of people meet to engage in collaborative computer programming.
            .section-content
                div(style="color: #ffdc00") REPLACE CONTENT - TAKEN FROM UOFT Hacks
                | We look past this traditional definition of a hackathon and take it to new heights. At RU Hacks, we bring people together to make new friends, learn new things, and bring new ideas to life.
.content-bg-white.container-fluid
    .row
        .col-md-10.col-md-push-1.section.section-default
            .section-header Something
            .section-content.
                RU Hacks is the Ryerson University's annual hackathon.
            .section-content
                div(style="color: #004c9b") REPLACE CONTENT - TAKEN FROM UOFT Hacks
                | /ˈhakəθɒn/: An event, typically lasting several days, in which a large number of people meet to engage in collaborative computer programming.
            .section-content
                div(style="color: #004c9b") REPLACE CONTENT - TAKEN FROM UOFT Hacks
                | We look past this traditional definition of a hackathon and take it to new heights. At RU Hacks, we bring people together to make new friends, learn new things, and bring new ideas to life.