#cover.container-fluid
    .row
        .col-md-6.col-md-push-3
            #splash.jumbotron.text-center
                img#splash-img(src="img/logo_150x150.png", title="RU Hacks Logo")
                #splash-title RU Hacks
                #splash-date MAR 24 - MAR 26, 2017
                #splash-call-to-action
                    a(href="/")
                        button.btn.btn-default 2017 Mailing List
                    a(href="/")
                        button.btn.btn-default News