// ==================== Header ==================== 
include ../partials/header_home.pug
// ==================== Cover ==================== 
include home_sections/cover.pug
// ==================== About ==================== 
include home_sections/about.pug