#splash(ng-init="landing.init()")
    img#splash-img(src="img/logo_150x150.png", title="RU Hacks Logo")
    #splash-title RU Hacks
    #splash-loc-date
        |Ryerson University
        .divider
        |Winter 2017
    #splash-call-to-action
        button.ru-btn(ng-click="landing.toggleSubscribe()") 2017 Mailing List
        a(href="https://ruhack.typeform.com/to/qbHukB")
            button.ru-btn Exec Applications
    #splash-contact
        |Contact us at 
        a(href="mailto:helloworld@ruhacks.com") helloworld@ruhacks.com
#modal(ng-show="landing.showModal")
    #modal-container
        span#modal-close(ng-click="landing.toggleSubscribe()") X
        form#subscribe(name="mailingList")
            #subscribe-msg Be the first to hear<br>about RU Hacks 2017!
            span#subscribe-result(ng-show="landing.result.show", ng-class="landing.result.class") 
                |{{ landing.result.text }}
            .ru-form-group-vertical
                label#subscribe-email-lbl.ru-control-label(for="mailingListEmail") Email
                input#subscribe-email.ru-form-control(type="email", name="mailingListEmail", placeholder="example@domain.com", ng-model="landing.email")
            button.ru-btn(ng-click="landing.subscribe()") Subscribe
link(rel="stylesheet", type="text/css", href="css/landing.css")