/*layout.inc.less*/
@import (reference) 'colors.inc.less';

.flex-center() {
    align-items: center;
    display: flex;
    justify-content: center;
}

.divider {
    display: block;

    @media (min-width: 680px) {
        & {
            display: inline;
        }

        &:after {
            content: ' | ';
        }
    }
}

.landing-base() {
    .flex-center();
    background: url('../img/cover/TRSM.jpg');
    background-color: @blue-lochmara;
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    transition: background 0.5s;    
}

.splash-base() {
    background: rgba(255, 255, 255, 0.6);
    border: 4px solid rgba(220, 220, 220, 0.6);
    border-radius: 10px;
    padding: 20px;
    text-align: center;

    &-title {
        font-size: 3.5em;
        font-weight: 700;
        margin: 0 0 10px 0;
    }

    &-loc-date {
        font-size: 2.65em;
        margin: 5px 0 5px 0;
    }

    &-call-to-action {
        .flex-center();
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
    }

    &-contact {
        font-size: 1.5em;
        padding: 10px 0 10px 0;
    }

    &-contact a {
        color: @ryerson-blue;
        font-weight: 700;
        text-decoration: none;

        &:link, &:visited {
            color: @ryerson-blue;
        }

        &:active, &:hover, &:visited {
            color: @blue-lochmara;
        }
    }
}

/* ==================== Navigation ==================== */

#ru {
    &-navbar {
        background: rgba(200, 200, 200, 0.95);
        border-bottom: 3px solid @ryerson-gold;
        padding: 5px;

        @media (min-width: 768px) {
            padding: 5px 100px 5px 100px;
        }

        &-links li {
            padding: 0 10px 0 10px;
        }

        &-links a {
            color: @black;
            font-size: 1.15em;
            font-weight: 400;
            text-decoration: none !important;

            &:link, &:visited {
                color: @black;
                text-decoration: none !important;
            }

            &:hover, &:active, &:focus{
                color: @ryerson-gold;
                text-decoration: none !important;
            }
        }
    }

    &-brand {
        .flex-center();
        color: @black;
        flex-direction: row;
        font-weight: 400;
        padding: 0 10px 0 10px;
        text-decoration: none !important;

        & * {
            color :@black;
            padding: 0 0 0 10px;
        }

        &-title {
            font-size: 1.25em;
            font-weight: 700;
        }

        &:link, &:visited, &:hover, &:active, &:focus {
            color: @black;
            text-decoration: none !important;
        }
    }


}

/* ==================== Content ==================== */

.ru{
    &-content-blue {
        background: @ryerson-blue;
    }

    &-content-white {
        background: @white;
    }

    &-section {
        padding: 30px;

        &-default {
            color: @black;
        }

        &-inverted {
            color: @white;
        }

        &-header {
            border-bottom: 1px solid @gray-dusty;   
            color: inherit;
            font-size: 2.5em;
            font-weight: 700;
            padding: 10px;
        }

        &-content {
            color: inherit;
            font-size: 1.5em;
            padding: 10px;

        }
    }
}

/* ==================== Footer ==================== */

#ru-footer {
    padding: 20px;
}