extends ./layout/header.pug

append vars
    -var ctrl = 'dash'
    
append nav
    li
        a(href="/#") Home
    li
        a(href="/#", ng-click="dash.login.logout()") Logout
    //-li
        a(href="/#faq") FAQ
    //-li
        a(href="/#apply") Apply