extends ./layout/header.pug

append vars
    -var ctrl = 'home'
    
append nav
    li
        a(href="/#") Home
    li
        a(href="/#about") About
    li
        a(href="/#faq") FAQ
    li
        a(href="/#apply") Apply