//Bootstrap
link(rel="stylesheet", type="text/css", href="libs/bootstrap/dist/css/bootstrap.min.css")

//App Stylesheets
link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Ubuntu:400,700")
link(rel="stylesheet", type="text/css", href="css/site.css")

//Angular JS
script(src="libs/angular/angular.js")
script(src="libs/angular-route/angular-route.js")

//App Scripts
script(src="js/controllers/mainCtrl.js")
//script(src="js/controllers/applyCtrl.js")
//script(src="js/services/applyService.js")
script(src="js/app.js")

//script(src="js/script.js")
//link(rel="stylesheet", type="text/css", href="css/stylesheet.css")