meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="description", content="RU Hacks, the official Ryerson University's hackathon! RU Hacks is happening in 2017 with venues provided by Ryerson University.")
meta(name="keywords", content="hackathon, Ryerson University, RU Hacks, Toronto, Ryerson")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
meta(name="theme-color", content="#004c9b")
base(href="/")

link(rel="icon", type="image/png", href="img/logo_50x50.png")